body {
  background-color: #ffffff;
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

a {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  letter-spacing: -1px;
  font-family: 'ocr-b-std', sans-serif;
}
.paragraph {
  font-size: 14px;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: 'ocr-b-std', sans-serif;
}
.details {
  padding-left: 5%;
  height: fit-content;
  width: 20%;
}
.app-container {
  position: relative;
}

.detailed {
  position: sticky;
  background-color: rgb(255, 255, 255);
  background: transparent;
  font-size: 50px;
  /* top: 450px;  */
 top: 75%;
  padding: 20px;
  z-index: 1;
}
.detailed a {
  padding: 10px;
}
.detailed p {
  padding: 2px;
}

.panels-container {
  /* Add styles for the container holding the panels */
  display: flex;
  flex-wrap: wrap;
}

.panel {
  /* Add styles for each panel */
  flex: 1 0 50%; /* Adjust these values as needed */
  padding: 20px;
  box-sizing: border-box;
}
.computer {
  display: none;
}

@media (max-width: 768px) {
 .container{
  display: flex;
  flex-direction: column-reverse;
 }
 /* .details{
  display: flex;
  flex-direction: column;
  padding-left: 50%;
 
  padding-top: 100%;
  background: transparent;

 } */
}