body {
  background-color: #f1f0ea;
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

a {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  letter-spacing: -1px;
  font-family: 'ocr-b-std', sans-serif;
}
.paragraph {
  font-size: 14px;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: 'ocr-b-std', sans-serif;
}
.details {
  padding-left: 5%;
  height: fit-content;
 
}
.computer {
  display: none;
}
@media (max-width: 507px) {
 .container{
  display: flex;
  flex-direction: column-reverse;
 }
 .details{
  display: flex;
  flex-direction: column;
  padding-left: 0;
 }
}